.o-app-header {
  padding-top: 15px;
  background-color: #943e0f;
  &__title {
    margin-bottom: 15px;
    text-align: center;
  }
  &__inner-content {
    position: relative;
    display: flex;
  }
  &__articles-change {
    width: 50%;
    padding: 15px 0;
    text-align: center;
    transition: color, background-color .3s linear;
    cursor: pointer;
    &:hover {
      background-color: #333;
    }
  }
}