.m-article {
  position: relative;
  padding: 30px 0;
  &__navigation {
    position: absolute;
    padding: 15px 30px;
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
    background-color: #333;
    border: 1px solid black;
    border-radius: 10px;
  }

  &__anchor-link {
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: transform .3s linear;
    &:hover {
      transform: scale(1.2);
    }
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
    &-smiley {
      font-size: 200px;
    }
    &-image {
      width: 400px;
      height: 400px;
    }
  }
}